{% extends "kof/base.html" %}

{% load static %}
{% block content %}

<!DOCTYPE html><html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<meta name="google-adsense-account" content="ca-pub-3991782636479972">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HMG889HGG5"></script>

<link rel="stylesheet" href="{% static 'polls/css/style2.css' %}">

</head>


<body>
    <div id="charList" class="characternav">

       
            
            <div class="charactericon adultGohan">
            <a title="Banjo & Kazooie" href="/banjo_and_kazooie">Gohan Adulto</a>
            </div>
            <div class="charactericon teenGohan">
                <a title="Banjo & Kazooie" href="/banjo_and_kazooie">Gohan Joven</a>
                </div>
            
            <div class="charactericon android16">
            <a title="Bayonetta" href="/bayonetta">Androide 16</a>
            </div>
            
            <div class="charactericon android17">
            <a title="Bowser" href="/bowser">Androide 17<span style="display:none;"> big jars</span></a>
            </div>
            
            <div class="charactericon android18">
            <a title="Bowser Jr." href="/bowser_jr">Androide 18</a>
            </div>
            
            <div class="charactericon bardock">
            <a title="Byleth" href="/byleth">Bardock</a>
            </div>
            
            <div class="charactericon bills">
            <a title="Captain Falcon" href="/captain_falcon">Bills</a>
            </div>
            
            <div class="charactericon broly">
            <a title="Chrom" href="/chrom">Broly</a>
            </div>
            
            <div class="charactericon brolySuper">
            <a title="Cloud" href="/cloud">Broly Super</a>
            </div>
            
            <div class="charactericon cell">
            <a title="Corrin" href="/corrin">Cell</a>
            </div>
            
            <div class="charactericon cooler">
            <a title="Daisy" href="/daisy">Cooler</a>
            </div>
            
            <div class="charactericon frieza">
            <a title="Dark Pit" href="/dark_pit">Frieza</a>
            </div>
            
            <div class="charactericon ginyu">
            <a title="Dark Samus" href="/dark_samus">Capitan Ginyu</a>
            </div>
                       
            <div class="charactericon gogeta">
            <a title="Donkey Kong" href="/donkey_kong">Gogeta Blue<span style="display:none;"> stupid</span></a>
            </div>
            
            <div class="charactericon gokuBase">
            <a title="Dr. Mario" href="/dr_mario">Goku Base</a>
            </div>
            
            <div class="charactericon gokuSs">
            <a title="Duck Hunt" href="/duck_hunt">Goku Super Saiyan</a>
            </div>
            
            <div class="charactericon gokuBlue">
            <a title="Falco" href="/falco">Goku Blue</a>
            </div>
            
            <div class="charactericon gokuGt">
            <a title="Fox" href="/fox">Goku GT</a>
            </div>
            
            <div class="charactericon gokuUi">
            <a title="Ganondorf" href="/ganondorf">Goku ultra Instinto</a>
            </div>

            <div class="charactericon gokuBlack">
                <a title="Ganondorf" href="/ganondorf">Goku Black</a>
                </div>
            
            <div class="charactericon gotenks">
            <a title="Greninja" href="/greninja">Gotenks</a>
            </div>
            
            <div class="charactericon hit">
            <a title="Hero" href="/hero">Hit</a>
            </div>
            
            <div class="charactericon janemba">
            <a title="Ice Climbers" href="/ice_climbers">Janemba</a>
            </div>
            
            <div class="charactericon jiren">
            <a title="Ike" href="/ike">Jiren</a>
            </div>
            
            <div class="charactericon kefla">
            <a title="Incineroar" href="/incineroar">Kefla<span style="display:none;"> groar</span><span style="display:none;"> fire meow</span><span style="display:none;"> firemeow</span></a>
            </div>
            
            <div class="charactericon kidBuu">
            <a title="Inkling" href="/inkling">Kid Buu</a>
            </div>
            
            <div class="charactericon krillin">
            <a title="Isabelle" href="/isabelle">Krillin</a>
            </div>
            
            <div class="charactericon majinBuu">
            <a title="Jigglypuff" href="/jigglypuff">Majin Buu</a>
            </div>
            
            <div class="charactericon piccolo">
            <a title="Joker" href="/joker">Piccolo</a>
            </div>
            
            <div class="charactericon tien">
            <a title="Kazuya" href="/kazuya">Tien</a>
            </div>
            
            <div class="charactericon trunks">
            <a title="Ken" href="/ken">Trunks</a>
            </div>
            
            <div class="charactericon vegeta">
            <a title="King Dedede" href="/king_dedede">Vegeta Base<span style="display:none;"> Gordo</span></a>
            </div>
        
            <div class="charactericon vegetaSuper">
            <a title="King K. Rool" href="/king_k_rool">Vegeta Super Saiyan<span style="display:none;"> Krool</span></a>
            </div>
        
            <div class="charactericon vegetaBlue">
            <a title="Kirby" href="/kirby">Vegeta Blue<span style="display:none;"> Poyo</span></a>
            </div>
        
            <div class="charactericon vegito">
            <a title="Link" href="/link">Vegito</a>
            </div>
        
            <div class="charactericon videl">
            <a title="Little Mac" href="/little_mac">Videl</a>
            </div>
        
            <div class="charactericon yamcha">
            <a title="Lucario" href="/lucario">Yamcha</a>
            </div>
        
            <div class="charactericon zamasus">
            <a title="Lucas" href="/lucas">Zamasus</a>
            </div>
        
                    
        </div>
        

</body>
{% endblock %}
</html>