{% extends "dbfz/base.html" %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'polls/css/index.css' %}">
        <h1>Bienvenido</h1>
        <p>En esta pagina obtendras todo tipo de recurso para aprender sobre dbfz</p>
        <p>Para acceder a mejor contenido de la pagina logearse.</p>

    <!-- Contenedor de fondo de imagen -->
    <div class="video-background fade-video" id="video-container">
        <video autoplay muted loop>
            <source src="static/polls/css/video/index.mp4" type="video/mp4">
            Tu navegador no soporta video.
        </video>
    </div>
    <!-- Contenedor de contenido sobrepuesto -->
    <div class="content">
        <h1>Bienvenido</h1>
        <p>En esta pagina obtendras todo tipo de recurso para aprender sobre dbfz</p>
        <p>Para acceder a mejor contenido de la pagina logearse.</p>
        <p>STACKHOLDER:</p>
    </div>

    <!-- Sección larga para hacer scroll -->
    
    <div class="long-section scroll-background">

    
    </div>

    
    


    <script src="{% static 'polls/js/index.js' %}"></script>

</body>
{% endblock %}