{% extends "dbfz/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'polls/css/index.css' %}">


{% block content %}
<div class="content">
    <div class="content">

      <h3>Placeholder de noticias (Widget de Instagram)</h3>
    </div>

      <div data-behold-id="bEpUcA69bJfFngrFjkmt"></div>
      <script>
        (() => {
          const d=document,s=d.createElement("script");s.type="module";
          s.src="https://w.behold.so/widget.js";d.head.append(s);
        })();
      </script>
  </div>
{% endblock %}