{% extends "dbfz/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'dbfz/css/style.css' %}">

<body>

<div class="content "> 

    <div class="box1">
        <div class="subtitulo"> En General</div>
        Goku (también conocido como Base Goku o Baseku) es un personaje tipo grappler-shoto, sacrificando algo de su juego neutral equilibrado para dominar en el combate cercano. Sus ataques normales cortos hacen que sea difícil acercarse, pero una vez dentro, puede abusar del mejor agarre del juego, y su recompensa por golpear es de las mejores. Es más efectivo en las posiciones de Mid o Anchor.

        Juega con Baseku si buscas un personaje que pueda dar vuelta la situación y salvar el día contra todo pronóstico.    </div>
    
    <div class="box2">
        <div class="subtitulo">Goku</div>
                    <img src="" >
                
    </div>

    
</div>
<br/>
<br/>


<div class="box1">
      <div class="grid-container">
    <div class="Summary">
    <p><span style="white-space: nowrap;"><span class="charaLabel"><span class="mw-default-size" typeof="mw:File"><a href="" title="DBFZ/Goku"><img alt="" src="https://www.dustloop.com/wiki/images/thumb/b/bb/DBFZ_Goku_Icon.png/47px-DBFZ_Goku_Icon.png" decoding="async" loading="lazy" width="47" height="28" class="mw-file-element" srcset="/wiki/images/thumb/b/bb/DBFZ_Goku_Icon.png/71px-DBFZ_Goku_Icon.png 1.5x, /wiki/images/thumb/b/bb/DBFZ_Goku_Icon.png/94px-DBFZ_Goku_Icon.png 2x"></a></span></span><span style="visibility:hidden;"> </span><span style="white-space: normal;"><a class="mw-selflink selflink"><b>Goku</b></a></span></span> es un extravagante personaje de apoyo cuyos numerosos trucos suponen un daño masivo, y se hace aún más fuerte con cada aliado caído.
    </p>
    </div>
    <div class="Pros-Header">Pros</div>
    <div class="Cons-Header">Cons</div>
    <div class="Pros">
    <ul><li><b>Teme el agarre:</b> La excelente presión de Baseku se complementa con su agarre de comando, especialmente en su versión EX, <a href="#Back_Throw">considerado el mejor del juego.</a>,</li>
    <li><b>Máquina de remontadas:</b> Baseku se fortalece con cada aliado caído, lo que lo convierte en un personaje ideal para remontar situaciones difíciles, beneficiándose enormemente del "Limit Break".</li>
    <li><b>Súpers increíbles:</b> Sus ataques especiales, como el Kaioken, son muy versátiles, siendo uno de los pocos movimientos que otorgan Hard Knockdown. Su Level 3 está entre los más dañinos y le da opciones de mezcla.</li></ul>
    </div>
    <div class="Cons">
    <ul><li><b>Botones cortos:</b> Los ataques normales de Baseku tienen poco alcance, y su único especial con buen avance es el  <span class="colorful-text-5">236H</span>. Esto dificulta su juego en media distancia, por lo que necesita planear bien cómo acercarse.</li>
    <li><b>Combos inconsistentes:</b> Las rutas óptimas de combos de Baseku suelen llevar el decaimiento de hitstun al límite, y ciertas conversiones no funcionan en todas las posiciones de la pantalla, lo que puede hacer que completar combos sea frustrante.</li></ul>
    </div>
    <div class="Notes"></div>
    </div><div style="clear:both"></div>
    <div style="clear:both"></div>
    <div style="clear:both"></div></div>

</div>


</body>

{% endblock %}