{% extends 'polls/detail.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Crear Evento - FighterChile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">  <!-- Fuente moderna -->
    
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h1>Crear Evento</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_titulo">Título del Evento</label>
                    {{ form.titulo }}
                </div>

                <div class="form-group">
                    <label for="id_fecha">Fecha del Evento</label>
                    {{ form.fecha }}
                </div>

                <div class="form-group">
                    <label for="id_contenido">Contenido</label>
                    {{ form.contenido }}
                </div>

                <div class="form-group">
                    <label for="id_imagen">Imagen</label>
                    {{ form.imagen }}
                </div>

                <div class="form-group">
                    <label for="id_direccion">Dirección</label>
                    {{ form.direccion }}
                </div>

                <button type="submit" class="btn btn-primary">Crear Evento</button>
            </form>
        </div>
    </div>

</body>
</html>
{% endblock %}
