{% extends 'polls/detail.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Crear Evento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:#22223B">
<div class="container mt-5" style="color:white">
    <h1>Crear Evento</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Crear Evento</button>
    </form>
</div>
{% endblock %}
</body>
</html>
