{% extends 'polls/detail.html'%}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ evento.titulo }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'noticias/css/styleListado.css' %}">
    <link rel="stylesheet" href="{% static 'eventos/css/styleDetalle.css' %}">


</head>
<body>
<div class="container mt-5">
    <h1>{{ evento.titulo }}</h1>
    <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
    <p>{{ evento.contenido }}</p>
    {% if evento.imagen %}
        <img src="{{ evento.imagen.url }}" class="img-fluid" alt="Imagen del evento">
    {% endif %}
    <h2>Ganadores</h2>
    <ul class="ganadores-lista">
        {% if evento.primer_lugar %}
        <li>
            <strong>1er Lugar: </strong> 
            <img src="{{ evento.primer_lugar.userprofile.avatar.url }}" alt="{{ primer_lugar.nick }}" class="avatar">
            {{ evento.primer_lugar }}
        </li>
        {% endif %}

        {% if evento.segundo_lugar %}
        <li>
            <strong>2do Lugar: </strong> 
            <img src="{{ evento.segundo_lugar.userprofile.avatar.url }}" alt="{{ segundo_lugar.nick }}" class="avatar">
            {{ evento.segundo_lugar.nick }}
        </li>
        {% endif %}

        {% if evento.tercer_lugar %}
        <li>
            <strong>3er Lugar: <p>  </p> </strong> 
            {% if primer_lugar.userprofile.avatar %}
            <img src="{{ evento.tercer_lugar.userprofile.avatar.url }}" alt="{{ evento.tercer_lugar.nick }}" class="avatar">
            {% else %}
            <img src="{% static 'polls\css\images\default.jpg' %}" alt="Avatar predeterminado" class="avatar">
            {% endif %}
            {{ evento.tercer_lugar.nick }}
        </li>
        
        {% endif %}
    </ul>

    <!-- Mostrar la dirección -->
    <p><strong>Dirección:</strong> {{ evento.direccion }}</p>

    <!-- Incluir iframe de Google Maps -->
    <div class="mt-4">
        <h2>Ubicación:</h2>
        <iframe
            width="100%"
            height="400"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}&q={{ evento.direccion|urlencode }}" allowfullscreen>
        </iframe>
    </div>
    
    <a href="{% url 'eventos:lista_eventos' %}" class="btn btn-secondary mt-3">Volver a la lista de eventos</a>
</div>
</body>
{% endblock %}