{% extends 'polls/detail.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'noticias/css/styleListado.css' %}">

<div class="eventos-main-container">
    <h2 class="section-title">Próximos Eventos</h2>
    <div class="eventos-grid">
        {% for evento in eventos %}
            <div class="evento-card">
                <a href="{% url 'eventos:detalle_evento' evento.id %}">
                    {% if evento.imagen %}
                        <img src="{{ evento.imagen.url }}" alt="{{ evento.titulo }}" class="evento-imagen">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="No image available" class="evento-imagen">
                    {% endif %}
                </a>
                <div class="evento-info">
                    <p class="evento-fecha">{{ evento.fecha|date:"F j, Y" }}</p>
                    <a href="{% url 'eventos:detalle_evento' evento.id %}" class="evento-titulo">{{ evento.titulo }}</a>
                    <p class="evento-ubicacion">{{ evento.ubicacion }}</p>
                    {% if evento.primer_lugar %}
              
                       <pclass="evento-ubicacion"> <strong>Ganador: {{ primer_lugar.nick }}{{ evento.primer_lugar }}</strong></p>
                        
                        
                  
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <h2>Torneos Comunitarios</h2>
        <div class="eventos-grid">
            {% for torneo in torneos %}
                <div class="evento-card">
                    <a href="{% url 'eventos:detalle_torneo_comunitario' torneo.id %}">
                        {% if torneo.imagen %}
                            <img src="{{ torneo.imagen.url }}" alt="{{ torneo.titulo }}" class="evento-imagen">
                        {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="No image available">
                        {% endif %}
                    </a>
                    <div class="evento-info">
                        <h3>{{ torneo.titulo }}</h3>
                        <p>Fecha: {{ torneo.fecha }}</p>
                        <p>Tipo: {{ torneo.get_tipo_torneo_display }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No hay torneos comunitarios disponibles.</p>
            {% endfor %}
        </div>
    </div>
    
    {% if user.is_staff or user.user_type == 'organizador'%}
        <a href="{% url 'eventos:crear_evento' %}" class="btn btn-secondary mt-3" style="color:#fff;">Crear Evento</a>
        <a href="{% url 'eventos:crear_torneo_comunitario' %}" class="btn btn-secondary mt-3" style="color:#fff;">Crear Torneo</a>

    {% endif %}
</div>

{% endblock %}