{% extends 'polls/detail.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'polls/css/styleRegistro.css' %}">
</head>

<body>
    <div class="content">
        <h2>Crear una Noticia</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Titulo -->
            <div class="form-group">
                {{ form.titulo.label_tag }}
                {{ form.titulo }}
                {% if form.titulo.errors %}
                    <span class="error-text">{{ form.titulo.errors }}</span>
                {% endif %}
            </div>

            <!-- Contenido -->
            <div class="form-group">
                {{ form.contenido.label_tag }}
                {{ form.contenido }}
                {% if form.contenido.errors %}
                    <span class="error-text">{{ form.contenido.errors }}</span>
                {% endif %}
            </div>

            <!-- Imagen de encabezado -->
            <div class="form-group">
                {{ form.imagen_encabezado.label_tag }}
                {{ form.imagen_encabezado }}
                {% if form.imagen_encabezado.errors %}
                    <span class="error-text">{{ form.imagen_encabezado.errors }}</span>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Crear Noticia</button>
        </form>
    </div>
</body>
{% endblock %}
