{% extends 'polls/detail.html'%}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'noticias/css/styleListado.css' %}">

    <!-- Aquí es donde las plantillas hijas insertarán su contenido -->
<div class="noticias-main-container">
        <h2 class="section-title">Últimas Noticias</h2>
        <div class="noticias-grid">
            {% for noticia in noticias %}
                <div class="noticia-card">
                    <a href="{% url 'noticias:detalle_noticia' noticia.id %}">
                        {% if noticia.imagen_encabezado %}
                            <img src="{{ noticia.imagen_encabezado.url }}" alt="{{ noticia.titulo }}" class="noticia-imagen">
                        {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="No image available" class="noticia-imagen">
                        {% endif %}
                    </a>
                    <div class="noticia-info">
                        <p class="noticia-fecha">Hace {{ noticia.fecha|timesince }} </p>
                        <a href="{% url 'noticias:detalle_noticia' noticia.slug %}" class="noticia-titulo">{{ noticia.titulo }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        {% if user.is_staff %}
            <a href="{% url 'noticias:crear_noticia' %}" class="btn btn-secondary mt-3" style="color:#fff;">Crear Noticia</a>
        {% endif %}
    </div>
    {% endblock %}

</body>
