<!-- Cargar las etiquetas estáticas de Django -->

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FighterChile{% endblock %}</title>

    <!-- Bootstrap CSS -->

    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'polls/css/styleHome.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    
   
</head>
<body>

<!-- Header con Navbar -->
<header>
<div class="siteheader">
    <a href="/" class="titlelink" ><h1>FighterChile</h1></a>
    {% if user.is_authenticated %}
    <p>Bienvenido, {{ user.get_username }}.</p>
    {% else %}
    <p>Bienvenido, extranjero. Para una mejor experiencia logearse(o Crearse una Cuenta).</p>
    {% endif %}
    </div> 
</header>

<!-- Menu lateral -->
<nav class="navbar" id="navbar">
  
  <button class="navbar-toggler" id="navbar-toggler">
    &#9776; <!-- ícono de hamburguesa -->
  </button>

  <ul class="menu" id="navbar-menu">
      {% if user.is_authenticated %}
          <li><a href="juegos">Lista de Juegos</a></li>
          <li><a href="{% url 'eventos:crear_evento' %}">Eventos</a></li>
          <li><a href="">Noticias</a></li>
          <li><a href="{% url 'polls:logout'%}">Cerrar sesión</a></li>
        {% else %}
          <li><a href="juegos">Lista de Juegos</a></li>
          <li><a href="demo">Noticias</a></li>
          <li><a href="{% url 'polls:login' %} ">Iniciar Sesion</a></li>
          <li><a href="{% url 'polls:registro' %} ">Crear Cuenta</a></li>
        {% endif %}


  </ul>

  </nav>

  
</div>
<!-- Contenido principal -->

<main class="container py-4">
    
    {% block content %}
    <!-- Aquí va el contenido específico de cada página -->
    {% endblock %}
</main>

<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; PLACEHOLDER FOOTER</p>
        <p>Diseñado por Omnissiah.</p>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="{% static 'polls/js/navbar.js' %}"></script>

</body>
</html>
