{% extends 'polls/detail.html'%}
{% load static %}
{% load custom_filters %}

    {% block content %}
    <head>
        <meta charset="UTF-8">
        <title>{{ personaje.nombre }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'polls/css/stylePersonajes.css' %}">
        <style>
            .tab-content { display: none; } /* Oculta todas las secciones por defecto */
            .active { display: block; }     /* Muestra solo la sección activa */
            .navbar-card a {
                padding: 10px;
                text-decoration: none;
                color: #fff;
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.3s;
            }
            .navbar-card a:hover, .navbar-card a.active-tab {
                border-bottom: 2px solid #007bff;
            }
        </style>
    </head>
<body> <div class="navbar-grid">
    <div class="navbar-card">
        <a href="#overview" onclick="showTab('overview')">Overview</a>
    </div>
    <div class="navbar-card">
        <a href="#strategy" onclick="showTab('strategy')">Estrategias/Tips</a>
    </div>
    <div class="navbar-card">
        <a href="#frame-data" onclick="showTab('frame-data')">Frame Data</a>
    </div>
    <div class="navbar-card">
        <a href="#combos" onclick="showTab('combos')">Combos</a>
    </div>
    <div class="navbar-card">
        <a href="#resources" onclick="showTab('resources')">Recursos</a>
    </div>
</div>
<div id="overview" class="overview-section">
    <h2 class="text-center">Overview</h2>
    {% filter linebreaks %}    
    {{ personaje.descripcion | safe}}
    {% endfilter %}
   
</div>

<div class="row">
    <!-- Columna de Pros y Cons -->
    <div class="col-md-8 order-2 order-md-1">
        
        <div class="pros-cons-section">
            <a ><img src="{{ personaje.icono_url.url }}" alt="{{ personaje.nombre }}" class="personaje-icono"></a>
            {{ personaje.descripcion_strategy }}</p>

            <table class="pros-cons-table w-100">
                <thead>
                    <tr>
                        <th class="pros">Pros</th>
                        <th class="cons">Cons</th>
                    </tr>
                </thead>
                <tbody class="table-container">
                    <tr>
                        <td>
                            <ul>

                                {% for pro in personaje.pros %}
                                <li>{{ pro|linebreaksbr|safe }}</li>  
                                {% endfor %}
                            </ul>

                        </td>
                        <td>
                            <ul>
                                {% for con in personaje.cons %}
                                <li>{{ con|linebreaksbr|safe }}</li>  
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>

    <!-- Columna de Información del Personaje -->
    <div class="col-md-4 order-1 order-md-2 mb-4 mb-md-0">
        <div class="info-card">
            <h3 class="text-center">{{ personaje.nombre }}</h3>
            <img src="{{ personaje.imagen.url }}" alt="Imagen de {{ personaje.nombre }}" class="character-image">
        
            <table class="table custom-table table-striped mt-3">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">Detalles del Personaje</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Movimientos únicos -->
                    <tr>
                        <td class="font-weight-bold ">Unique Movement Options</td>
                        <td>
                            <ul>
                                {% for movimiento in personaje.movimientos_unicos %}
                                    <li>{{ movimiento }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <!-- Ataques más rápidos -->
                    <tr>
                        <td class="font-weight-bold ">Fastest Attacks</td>
                        <td>
                            <ul>
                                {% for ataque in personaje.ataques_rapidos %}
                                    <li>{{ ataque }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <!-- Reversales únicas -->
                    <tr>
                        <td class="font-weight-bold ">Unique Reversals</td>
                        <td>{{ personaje.reversales_unicos|default:"None" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
        

<div id="strategy" class="tab-content">
    <div id="" class="overview-section">
        <h4 class="accordion">Tácticas Generales</h4>

        <div class="content-strategy">
            <ul>
                {% for tactica in personaje.estrategia.tacticas_generales %}
                    <li>{{ tactica }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <h4 class="accordion">Posicionamiento en el Equipo</h4>
        <div class="content-strategy">
            <ul>
                {% for posicion in personaje.estrategia.posicionamiento_en_el_equipo %}
                    <li>{{ posicion }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <h4 class="accordion">BlockString</h4>
        <div class="content-strategy">
            <ul>
                {% for block in personaje.estrategia.block_string %}
                    <li>{{ block }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <h4 class="accordion">Oki</h4>
        <div class="content-strategy">
            <ul>
                {% for oki_item in personaje.estrategia.oki %}
                    <li>{{ oki_item }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <h4 class="accordion">Tips y Trucos</h4>
        <div class="content-strategy">
            <ul>
                {% for tip in personaje.estrategia.tips_y_trucos %}
                    <li>{{ tip }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <h4 class="accordion">Luchando en Contra</h4>
        <div class="content-strategy">
            <ul>
                {% for lucha in personaje.estrategia.luchando_en_contra %}
                    <li>{{ lucha }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div id="frame-data" class="tab-content">    
    <div id="" class="overview-section">    
    <h2>Frame Data</h2>
    <table class="table custom-table table-striped mt-3">     
        <thead>           
            <tr> 
                <th>Referencia</th>
                <th>Movimiento</th>
                <th>Tipo</th>
                <th>Damage</th>
                <th>Startup Frames</th>
                <th>Active Frames</th>
                <th>Recovery Frames</th>
                <th>Block Advantage</th>
                <th>Hit Advantage</th>
                <th>Knockdown</th>
                <th>Video</th>
            </tr>
        </thead>
        <tbody>
            {% for frame in framedata %}
            <tr>
                {% if frame.imagen %}
                    <td><img class="FrameDataImagen" src="{{ frame.imagen.url }}" alt="Imagen del personaje" style="max-width: 100px; max-height: 100px;"></td>
                {% else %}
                    <td><p>No hay imagen disponible.</p></td>
                {% endif %}
          
                <td>{{ frame.movimiento }}</td>
                    <td>{{ frame.tipo }}</td>
                    <td>{{ frame.damage }}</td>
                    <td>{{ frame.startup_frames }}</td>
                    <td>{{ frame.active_frames }}</td>
                    <td>{{ frame.recovery_frames }}</td>
                    <td>{{ frame.block_advantage }}</td>
                    <td>{{ frame.hit_advantage }}</td>
                    <td>{{ frame.knockdown|yesno:"Si,No" }}</td>
                    <td>
                        {% if frame.video_demo_url %}
                            <a href="{{ frame.video_demo_url }}" target="_blank">Ver Video</a>
                        {% else %}
                            No disponible
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<div id="combos" class="tab-content">
    <div id="" class="overview-section">
        <h2 class="text-center">Combos</h2>

        {% if combos %}
        <table class="table custom-table table-striped mt-3">     
            <thead>
                <tr>
                    <th>Inputs</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Dificultad</th>
                    <th>Video de Demostración</th>
                </tr>
            </thead>
            <tbody>
                {% for combo in combos %}
                <tr>
                    <td>{{ combo.movimientos }}</td>
                    <td>{{ combo.nombre }}</td>
                    <td>{{ combo.descripcion }}</td>
                    <td>{{ combo.dificultad }}</td>
                    <td>
                        {% if combo.video %}
                        <div class="video-container">
                            <iframe src="{{ combo.video_demo_url }}" frameborder="0" allowfullscreen style="width: 150px; height: 100px;"></iframe>
                        </div>
                        {% else %}
                        <p>No hay video disponible</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No hay combos disponibles.</p>
        {% endif %}
    </div>
</div>

<div id="resources" class="tab-content">
    <h2>Recursos de {{ personaje.nombre }}</h2>
    
    {% for categoria in recursos_por_categoria %}
        <div class="recursos-categoria">
            {% for recurso in recursos %}
                {% if recurso.categoria == categoria.categoria %}
                    <div class="recurso">
                        <h4>{{ recurso.categoria }}</h4>
                        <p><strong>Descripcion:</strong> {{ recurso.descripcion }}</p>
                        
                        {% if recurso.enlace_video %}
                            <div class="video-container">
                                <iframe width="560" height="315" src="{{ recurso.enlace_video|youtube_embed }}" frameborder="0" allowfullscreen></iframe>

                            </div>
                        {% endif %}

                        {% if recurso.link_discord %}
                            <p><strong>Discord:</strong></p>
                            <a href="{{ recurso.link_discord }}" target="_blank" class="discord-btn">
                                <img src="{% static 'polls/icons/discord.svg' %}" alt="Discord Icon">
                            </a>
                        {% endif %}

                        {% if recurso.hashtag_twitter %}
                            <p><strong>Twitter Hashtag:</strong> </p>
                            <a href="https://twitter.com/hashtag/{{ recurso.hashtag_twitter }}" target="_blank" class="twitter-btn">
                                <img src="{% static 'polls/icons/twitter.svg' %}" alt="Twitter Icon">
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

  {% if user.is_authenticated %}
    <a href="{% url 'polls:crear_recurso' juego_slug=personaje.juego.slug personaje_slug=personaje.slug %}" class="btn-custom" style="color:white;">
        <strong>
        Crear Recurso</a>
        </Stron>

{% endif %}


</div>
   

</div>

<script>
    function showTab(tabId) {
        // Oculta todas las secciones
        const tabContents = document.getElementsByClassName('tab-content');
        for (let i = 0; i < tabContents.length; i++) {
            tabContents[i].classList.remove('active');
        }

        // Muestra solo la sección seleccionada
        document.getElementById(tabId).classList.add('active');

        // Actualiza la pestaña activa en la barra de navegación
        const navLinks = document.querySelectorAll('.navbar-card a');
        navLinks.forEach(link => link.classList.remove('active-tab'));
        document.querySelector(`.navbar-card a[href="#${tabId}"]`).classList.add('active-tab');
    }

    // Mostrar la sección Overview al cargar la página
    document.addEventListener("DOMContentLoaded", () => {
        showTab('overview');
    });
</script>
<script>
    // Obtén todos los elementos con la clase "accordion"
    const accordions = document.querySelectorAll(".accordion");

    accordions.forEach(function (accordion) {
        // Agrega un evento de clic para cada "accordion"
        accordion.addEventListener("click", function () {
            // Alterna la clase "active" para cambiar el estilo del título
            this.classList.toggle("active");

            // Obtén el contenedor de contenido correspondiente al título clickeado
            const content = this.nextElementSibling;

            // Si el contenido está visible, lo oculta; si está oculto, lo muestra
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    });
</script>
<script>
    // Script para que el acordeón funcione
    document.addEventListener("DOMContentLoaded", () => {
        const accordionButtons = document.querySelectorAll('.accordion-button');
        accordionButtons.forEach(button => {
            button.addEventListener('click', function() {
                const arrow = this.querySelector('.arrow');
                if (this.classList.contains('collapsed')) {
                    arrow.style.transform = 'rotate(180deg)';
                } else {
                    arrow.style.transform = 'rotate(0deg)';
                }
            });
        });
    });
</script>
</body>
{% endblock  %}

</html>