{% extends 'polls/detail.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'polls/css/index.css' %}"> 
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<style>
    body {
        background: radial-gradient(circle, #111, #000);
        color: #fff;
    }
    .header h1, .header p {
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
</style>

<body>
 <!-- Contenedor del video -->
 <div class="video-container" id="videoContainer">
    <video autoplay muted loop id="backgroundVideo">
        <source src="{% static 'polls\css\video\index.mp4' %}" type="video/mp4">
        <!-- Añadir otras fuentes o texto de fallback aquí si es necesario -->
    </video>
    <div class="overlay-text">
        <h1>Bienvenido a Nuestra Página</h1>
        <p>Explora nuestros contenidos y conoce más sobre nosotros</p>
    </div>
</div>

<div class="main-content" id="mainContent">
    <header class="header">
        <div  class="stack" style="--stacks: 3;">
            <span  href='' style="--index: 0;"><a href=''>FIGHTERCHILE </a></span>
            <span  href='' style="--index: 1;"><a href=''>FIGHTERCHILE </a></span>
            <span  href='' style="--index: 2;"><a href=''>FIGHTERCHILE </a></span>
          </div>
    </header>
    <div class="container">
        <div class="timeline">
            <div class="card">
                <h3>Bienvenida</h3>
                <p>Acá podrás acceder a información relevante a la escena de juegos de pelea en Chile, incluyendo eventos y sus resultados así también como datos y recursos asociados a juegos específicos y sus personajes.</p>
            </div>
        </div>
      
    </div>

    <div class="card" data-aos="fade-up">
        <h3>Próximos Eventos</h3>
        <p>Información sobre los eventos importantes en nuestro calendario.</p>

        <div id="carouselEventos" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for evento in eventos %}
                <li data-target="#carouselEventos" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for evento in eventos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% if evento.imagen %}
                    <img src="{{ evento.imagen.url }}" class="d-block w-100" alt="Imagen del evento">
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block" style="
                    text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111,
                             1px 1px #111, -1px -1px #111, 1px -1px #111, -1px 1px #111;">
                        <h5><a href="{% url 'eventos:detalle_evento' evento.id %}" class="text-white text-decoration-none">{{ evento.titulo }}</a></h5>
                        <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
                        <p><strong>Dirección:</strong> {{ evento.direccion }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselEventos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselEventos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>       
</div>
<div class="container mt-5" data-aos="fade-up">
    <section class="juegos-destacados" data-aos="fade-up">
        <h2 class="text-center mb-4">Juegos Destacados</h2>
        <div class="row">
            {% for juego in juegos_destacados %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ juego.imagen_url.url }}" class="card-img-top" alt="{{ juego.nombre }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ juego.nombre }}</h5>
                        <p class="card-text">{{ juego.descripcion|truncatewords:20 }}</p>
                        <a href="{{ juego.enlace_oficial }}" class="btn btn-primary" target="_blank" style="background-color:#333;">Ver más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<div class="container mt-5" data-aos="fade-up">
    <h2 class="text-center">Noticias Recientes</h2>
    <div class="row">
       {% for noticia in noticias %}
                <div class="noticia-card" style="margin-top:20px;">
                    <a href="{% url 'noticias:detalle_noticia' noticia.slug %}">
                        {% if noticia.imagen_encabezado %}
                            <img src="{{ noticia.imagen_encabezado.url }}" alt="{{ noticia.titulo }}" class="noticia-imagen">
                        {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="No image available" class="noticia-imagen">
                        {% endif %}
                    </a>
                    <div class="noticia-info">
                        <p class="noticia-fecha">Hace {{ noticia.fecha|timesince }} </p>
                        <a href="{% url 'noticias:detalle_noticia' noticia.slug %}" class="noticia-titulo">{{ noticia.titulo }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

<div class="container mt-5" data-aos="fade-up">
    <h2 class="text-center">Top Competidores</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Posición</th>
                <th>Jugador</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in ranking|slice:":5" %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'polls:perfil_usuario' jugador.nick %}">{{ jugador.username }}</a></td>
                <td>{{ jugador.puntos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-3" data-aos="fade-up">
        <a href="{% url 'eventos:ranking' %}" class="btn btn-secondary">Ver ranking completo</a>
    </div>
</div>

</div>
<!-- Sección de Bienvenida -->

<!-- Contenedor principal para FullPage.js -->

<!-- Bootstrap y jQuery para el carrusel -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'polls/js/scroll.js' %}"></script>

<script>
    // Función para detectar cuando las tarjetas están en la vista
    function handleScroll() {
        const cards = document.querySelectorAll('.card');
        const triggerBottom = window.innerHeight / 5 * 4;

        cards.forEach(card => {
            const cardTop = card.getBoundingClientRect().top;

            if (cardTop < triggerBottom) {
                card.classList.add('visible');
            } else {
                card.classList.remove('visible');
            }
        });
    }

    window.addEventListener('scroll', handleScroll);
    window.addEventListener('load', handleScroll);
</script>
</body>
{% endblock %}