{% extends "polls/detail.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inicio de sesión</title>
</head>
<link rel="stylesheet" href="{% static 'polls/css/styleRegistro.css' %}"> 

<body>
    <div class="content">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}<br>
                {{ form.username }}<br>
                {% if form.username.help_text %}
                    <small class="help-text">{{ form.username.help_text }}</small>
                {% endif %}
                {% if form.username.errors %}
                    <span class="error-text">{{ form.username.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label_tag }}<br>
                {{ form.password }}<br>
                {% if form.password.help_text %}
                    <small class="help-text">{{ form.password.help_text }}</small>
                {% endif %}
                {% if form.password.errors %}
                    <span class="error-text">{{ form.password.errors }}</span>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>


</body>
</html>

{% endblock %}