{% extends "polls/detail.html" %}
{% load static %}
{% block content %}

<!-- register.html -->

<head>
    
    <link rel="stylesheet" href="{% static 'polls/css/styleRegistro.css' %}"> 
</head>

<body>
    <div class="content">
        <h2>Crear una nueva cuenta</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.help_text %}
                    <small class="help-text">{{ form.username.help_text }}</small>
                {% endif %}
                {% if form.username.errors %}
                    <span class="error-text">{{ form.username.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.nick.label_tag }}
                {{ form.nick }}
                {% if form.nick.help_text %}
                    <small class="help-text">{{ form.nick.help_text }}</small>
                {% endif %}
                {% if form.nick.errors %}
                    <span class="error-text">{{ form.nick.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.errors %}
                    <span class="error-text">{{ form.name.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <span class="error-text">{{ form.email.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.avatar.label_tag }}
                {{ form.avatar }}
                {% if form.avatar.errors %}
                    <span class="error-text">{{ form.avatar.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <span class="error-text">{{ form.password1.errors }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <span class="error-text">{{ form.password2.errors }}</span>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>

</body>
{% endblock %}

</html>
