.admin-panel table {
    /* Mantener el diseño original del admin */
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
}

.admin-panel table th, .admin-panel table td {
    padding: 8px;
    text-align: left;
}
