body {
    background-color: #111;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.overview-section, .pros-cons-section, .info-card {
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.info-card {
    text-align: center;
}
.pros-cons-table {
    color: #000000;
    background-color: #333;
}
.pros-cons-table th, .pros-cons-table td {
    padding: 10px;
    border: 1px solid #444;
}
.pros, .cons {
    font-weight: bold;
}
.character-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Estilos para la barra de navegación en forma de tarjetas */
.navbar-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.navbar-card {
    background-color: #333;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    color: #fff;
    font-weight: bold;
}
.navbar-card:hover {
    background-color: #444;
    transform: translateY(-5px);
}
.navbar-card a {
    text-decoration: none;
}
/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
    .navbar-grid {
        grid-template-columns: repeat(2, 1fr); /* Reduce a 2 columnas en móviles */
    }
}

.tab-content { display: none; } /* Oculta todas las secciones por defecto */
.active { display: block; }     /* Muestra solo la sección activa */
.navbar-card a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.navbar-card a:hover, .navbar-card a.active-tab {
    border-bottom: 2px solid #007bff;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 8px;
    overflow: hidden;
    --bs-table-bg: transparent;
}

.custom-table th, .custom-table td {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background-color: #333;
    color: #fff;

    
}

.custom-table tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.custom-table th .custom-table td {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
    background-color: #333;
}


/* Imagen del personaje */
.character-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.table th {
 
    font-weight: bold;
    text-align: center;
}
