body {
    background-color: #111;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.overview-section, .pros-cons-section, .info-card {
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.info-card {
    text-align: center;
}
.pros-cons-table {
    color: #fff;
    background-color: #333;
}
.pros-cons-table th, .pros-cons-table td {
    padding: 10px;
    border: 1px solid #444;
}
.pros, .cons {
    font-weight: bold;
}
.character-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
/* Estilos para la barra de navegaci贸n en forma de tarjetas */
.navbar-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.navbar-card {
    background-color: #333;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    color: #fff;
    font-weight: bold;
}
.navbar-card:hover {
    background-color: #444;
    transform: translateY(-5px);
}
.navbar-card a {
    text-decoration: none;
}
/* Ajustes para dispositivos m贸viles */
@media (max-width: 767px) {
    .navbar-grid {
        grid-template-columns: repeat(2, 1fr); /* Reduce a 2 columnas en m贸viles */
    }
}

.tab-content { display: none; } /* Oculta todas las secciones por defecto */
.active { display: block; }     /* Muestra solo la secci贸n activa */
.navbar-card a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}
.navbar-card a:hover, .navbar-card a.active-tab {
    border-bottom: 2px solid #007bff;
}
/* Ejemplo de estilos */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}