@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
	background-color: #22223B;

}
img {
	max-width: 100%;
}


.characternav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.6em;
}

.charactericon {
	width: 300px;
	flex-grow: 1;
	border-bottom: 3px solid #111;
	padding: 0;
	text-align: center;
	margin: 0.33em;
	user-select: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 15%;
	color: #fff;
	text-shadow: 1px 1px 6px #111;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 22pt;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.1s;
	transition-timing-function: ease-in-out;
}

.charactericon:hover, .charactericon:active {
	border-color: #ffc640;
	border-bottom-color: #ff9a40;
	transition: 0.1s;
	transition-timing-function: ease-in-out;
}

.charactericon a, .charactericon a:visited {
	padding: 0.66em 0em;
	width: 100%;
	color: #fff;
	text-shadow: 1px 1px 6px #111;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 22pt;
	text-decoration: none;
}

.character {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.dbfz {
	background-image: url('logo/dbfzLogo.png');
	background-position: center 50%;
	background-size: contain!important;
	max-width: 560px!important;
	min-height: 240px!important;
}

.sf6 {
	background-image: url('logo/SF6Logo.webp');
	background-position: center 55%;
	background-size: 75%;
	max-width: 560px!important;
	min-height: 240px!important;
}
.tekken8 {
	background-image: url('logo/tekken8.jpg');
	background-position: center 55%;
	background-size: 75%;
	max-width: 560px!important;
	min-height: 240px!important;
}
.kof {
	background-image: url('logo/kofLogo.png');
	background-position: center 55%;
	background-size: 75%;
	max-width: 560px!important;
	min-height: 240px!important;
}
.bayonetta {
	background-image: url('logo/kofLogo.png');
	background-position: center 55%;

}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

