.content {
    position: relative;
    z-index: 1;
    padding-top: 80px; /* Ajusta según la altura de la navbar */
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    color: aliceblue;
    display: flex; /* Hace que los contenedores estén en fila */
    justify-content: space-between; /* Espacio entre los contenedores */
}

.h1 {
color: #fff;
font-size: 2rem;
text-align: center;
}

.box1, .box2 {
    width: 45%; /* Ajusta el ancho de cada contenedor */
    padding: 10px;
    border: 1px solid #ccc;
}

.subtitulo{
        width: 100%;
    margin-bottom: 10px;
    color: var(--color-base--emphasized);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    border-bottom: 1px solid;
    border-color: #333;
}