body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #134b70;
  color: white;
  background-image: url('https://www.dustloop.com/wiki/images/dbfz-background.webp');
}

.top-navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); /* Transparent background */
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
  padding-right: 20px; /* Padding for better alignment */
}

.top-navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.top-navbar nav ul li {
  margin-left: 20px;
}

.top-navbar nav ul li a {
  color: white;
  text-decoration: none;
}

.top-navbar nav ul li a:hover {
  color: #ffcc00;
  transition: color 0.3s ease;
}

.toggle-menu {
  position: fixed;
  top: 60px;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 30;
  left: 15px; /* Align with toggle menu */
  top: 60px; /* Align with toggle menu */
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
    top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.modal.show {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content {
  background-color: #134b70;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu > li {
  margin: 15px 0;
}

.menu > li > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}

.menu > li > a:hover {
  background-color: #ffcc00;
  color: #134b70;
  transform: scale(1.1);
  border-radius: 5px;
}

.submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.submenu.show {
  display: block;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

.submenu.hide {
  opacity: 0;
  animation: fadeOut 0.5s ease-in-out;
}

.submenu li a {
  padding-left: 10px;
}

/* Fade-in and fade-out animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content {
  margin-left: 210px;
  padding: 20px;
  background-color: #134b70;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
}
.h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.box1,
.box2 {
  width: 45%; /* Ajusta el ancho de cada contenedor */
  padding: 10px;
  border: 1px solid #ccc;
}

.subtitulo {
  width: 100%;
  margin-bottom: 10px;
  color: var(--color-base--emphasized);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  border-bottom: 2px solid;
}
.grid-procontra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "content1 content2"
    "content3 content4";
  grid-gap: 10px;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #444;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content1,
.content2,
.content3,
.content4 {
  background-color: #666;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content1 {
  grid-area: content1;
  text-align: center;
  color: lightgreen;
}
.content2 {
  grid-area: content2;
  text-align: center;
  color: lightcoral;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
  display: grid;
  place-items: center;
}

.grid-container > div {
  overflow: auto;
  height: 100%;
}

.home-grid {
  display: grid;
  grid: auto-flow dense / repeat(auto-fit, minmax(9.375rem, 1fr));
  grid-auto-rows: minmax(3rem, auto);
  grid-gap: 0.625rem;
  margin-top: 1.6rem;
}

.home-grid {
  display: grid;
  grid: auto-flow dense/repeat(auto-fit, minmax(9.375rem, 1fr));
  grid-auto-rows: minmax(3rem, auto);
  grid-gap: 0.625rem;
}
.home-grid--col1 {
  grid-template-columns: 1fr;
}

.home-grid--col2 {
  grid-template-columns: 1fr 1fr;
}

.home-grid--col3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.home-grid--col4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-grid--col5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-grid--col6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
img {
  width: auto;
  height: auto;
  max-height: 375px;
  max-width: calc(100% - 20px);
}

.outer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  gap: 20px; /* Espacio entre los elementos del grid */
  height: 100vh; /* Altura total de la ventana */
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.citizen-pref__button[aria-expanded="true"] {
  background-color: var(--background-color-button-quiet--active);
}
#citizen-pref-header {
  padding: var(--space-lg) var(--space-md) 0;
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-emphasized);
}
#citizen-pref-panel {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  max-height: var(--header-card-maxheight);
  transform-origin: var(--transform-origin-offset-end)
    var(--transform-origin-offset-end);
}
@media (min-width: 640px) {
  #citizen-pref-panel {
    left: unset;
  }
}
@media (min-width: 1120px) {
  #citizen-pref-panel {
    right: unset;
    left: 100%;
    bottom: 0;
  }
}
@media (min-width: 1120px) {
  #citizen-pref-panel {
    transform-origin: var(--transform-origin-offset-start)
      var(--transform-origin-offset-end);
  }
}
#citizen-pref-panel.citizen-pref-panel--active {
  z-index: 50;
  transition: var(--transition-menu);
  transition-property: transform;
  transform: none;
}
#citizen-pref-panel.citizen-pref-panel--active > * {
  opacity: 1;
  transition: var(--transition-menu);
  transition-property: opacity;
}
#citizen-pref-panel fieldset {
  padding: 0 var(--space-md);
  margin: 0;
  font-size: var(--font-size-small);
  appearance: none;
  border: 0;
}
.citizen-client-prefs {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding-bottom: var(--space-lg);
}
.citizen-client-prefs form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-xxs);
  text-align: center;
}
.citizen-client-prefs-radio__input {
  display: none;
}
.citizen-client-prefs-radio__input:checked
  ~ .citizen-client-prefs-radio__label {
  border-color: var(--color-progressive);
}
.citizen-client-prefs-radio__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--space-xs) var(--space-md);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  border: var(--border-width-thick) solid var(--border-color-base);
  border-radius: var(--border-radius-medium);
}
.citizen-client-prefs-radio__label:hover {
  border-color: var(--color-progressive--hover);
}
.citizen-client-prefs-radio__label:active {
  border-color: var(--color-progressive--active);
}
#citizen-client-prefs .citizen-menu__content {
  padding: 0 var(--space-md);
}
#skin-client-prefs-skin-theme .citizen-client-prefs-radio__label {
  background: var(--color-surface-0);
}
#skin-client-prefs-skin-theme
  .citizen-client-prefs-radio__label[for="skin-client-pref-skin-theme-value-day"] {
  color: hsl(var(--color-primary__h), 30%, 20%);
  background: hsl(var(--color-primary__h), 30%, 96%);
}
#skin-client-prefs-skin-theme
  .citizen-client-prefs-radio__label[for="skin-client-pref-skin-theme-value-night"] {
  color: hsl(var(--color-primary__h), 25%, 80%);
  background: hsl(var(--color-primary__h), 20%, 10%);
}
#skin-client-prefs-citizen-feature-custom-font-size
  .citizen-client-prefs-radio__label {
  font-size: var(--font-size-medium);
}
#skin-client-prefs-citizen-feature-custom-font-size
  .citizen-client-prefs-radio__label[for="skin-client-pref-citizen-feature-custom-font-size-value-small"] {
  font-size: var(--font-size-small);
}
#skin-client-prefs-citizen-feature-custom-font-size
  .citizen-client-prefs-radio__label[for="skin-client-pref-citizen-feature-custom-font-size-value-large"] {
  font-size: var(--font-size-large);
}
#skin-client-prefs-citizen-feature-pure-black {
  display: none;
}
#skin-client-prefs-citizen-feature-pure-black form {
  grid-template-columns: repeat(2, 1fr);
}
.skin-theme-clientpref-night #skin-client-prefs-citizen-feature-pure-black {
  display: block;
}
@media (prefers-color-scheme: dark) {
  .skin-theme-clientpref-os #skin-client-prefs-citizen-feature-pure-black {
    display: block;
  }
}
#skin-client-prefs-citizen-feature-pure-black
  .citizen-client-prefs-radio__label[for="skin-client-pref-citizen-feature-pure-black-value-1"] {
  background-color: #000;
}
#skin-client-prefs-citizen-feature-autohide-navigation {
  display: none;
}
@media (max-width: 1119px) {
  #skin-client-prefs-citizen-feature-autohide-navigation {
    display: block;
  }
}
#skin-client-prefs-citizen-feature-autohide-navigation form {
  grid-template-columns: repeat(2, 1fr);
}
@media (hover: hover) {
  .citizen-pref:hover .citizen-pref__button .citizen-ui-icon::before {
    transform: rotate3d(0, 0, 1, 90deg);
  }
}
