

.noticias-main-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 24px;
    color: #1e90ff; /* Estilo del título "Latest Articles" */
    margin-bottom: 20px;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en cada fila */
    gap: 20px;
}

.noticia-card {
    background-color: #2a2d35;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.noticia-card:hover {
    transform: scale(1.05);
}

.noticia-imagen {
    width: 100%;
    object-fit: cover;
}

.noticia-info {
    padding: 15px;
}

.noticia-fecha {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
}

.noticia-titulo {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.noticia-titulo:hover {
    color: #1e90ff;
}


@media (max-width: 992px) { /* Para pantallas medianas, dos columnas */
    .noticias-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) { /* Para pantallas pequeñas, una columna */
    .noticias-grid {
        grid-template-columns: 1fr;
    }
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5A67D8;  /* Un color base para el botón */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: outline-offset 0.2s ease, background-color 0.3s ease;
    outline: 2px solid transparent;
    outline-offset: 5px;
}

.btn-secondary:hover {
    background-color: #434C9C;  /* Cambia el color de fondo en hover */
    outline: 2px solid #ffffff;
    outline-offset: 0px;
    color: #ffffff;
}

/* Animación para dar el efecto de "inward outline" */
.btn-secondary:active {
    transform: scale(0.98); /* Efecto de presionar el botón */
}

.eventos-main-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.eventos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.evento-card {
    background-color: #2a2d35;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.evento-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.evento-imagen {
    width: 100%;
    object-fit: cover;

}

.evento-info {
    padding: 15px;
    text-align: left;
}

.evento-fecha {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 5px;
}

.evento-titulo {
    font-size: 1.4em;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.evento-titulo:hover {
    color: #5A67D8;
}

.evento-ubicacion {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}
